name: Flutter Analyze

on:
  pull_request:
  push:
    branches:
      - main
      - master

jobs:
  flutter_analyze:
    name: Flutter Analyze
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install dependencies
        run: flutter pub get

      - name: Run analyzer
        run: flutter analyze
